@use '../../../styles/base/variables' as *;
@use '../../../styles/base/mixins' as *;

.hero-section {
  background-color: $color-primary;
  color: $color-text-light;
  padding: $spacing-3xl;
  position: relative;
  overflow: hidden;

  .background-layer {
    @include pattern-background;
    z-index: 0;
    height: 60%;
    top: 5rem;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 $spacing-md;
    position: relative;
    z-index: 1;
    text-align: center;
  }

  @include tablet {
    padding: $spacing-2xl;
  }

  @include mobile {
    padding: $spacing-3xl 0;
  }
}
