@use '../../../styles/base/variables' as *;
@use '../../../styles/base/mixins' as *;

.hero-content-wrapper {
  width: 65%;
  margin: 0 auto;
  padding-top: $spacing-3xl;
  padding-bottom: $spacing-2xl;
  text-align: center;
  z-index: 1;

  @include tablet {
    width: 60%;
  }

  @include mobile {
    width: 90%;
    padding-bottom: $spacing-xl;

  }

  &.medium {
    width: 50%;

    @include tablet {
      width: 55%;
    }

    @include mobile {
      width: 90%; // keep full width on mobile
    }
  }

  // heading styles
  h1 {
    font-weight: $font-weight-medium;
    line-height: 1.3;
    margin-bottom: $spacing-md;
  }

  &.large h1 {
    font-size: 54px;

    @include tablet {
      font-size: $font-size-2xl;
    }

    @include mobile {
      font-size: $font-size-2xl;
    }
  }

  &.medium h1 {
    font-size: 48px;

    @include tablet {
      font-size: $font-size-2xl;
    }

    @include mobile {
      font-size: $font-size-xl;
    }
  }

  p {
    font-size: $font-size-sm;
    line-height: 1.6;
    margin-bottom: $spacing-xl;
    padding: 0 ;

    @include tablet {
      font-size: $font-size-base;
    }

    @include mobile {
      font-size: $font-size-xs;
    }
  }

  button {
    position: relative;
    z-index: 2;
  } 
}

