@use "../../../styles/base/variables" as *;
@use "../../../styles/base/mixins" as *;

.cta-section {
  position: relative;
  background-color: $color-primary;
  text-align: center;
  color: $color-white;
  overflow: hidden;
  padding: $spacing-3xl 0 $spacing-2xl;

  .background-layer {
    @include pattern-background;
  }

  .container {
    position: relative;
    z-index: 2;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .cta-content {
    max-width: 700px;
    margin: 0 auto;

    .cta-top-image {
      width: 90%;
      margin-bottom: -12rem; 
      @include mobile {
        margin-bottom: -rem; 
      }
    }

    h2 {
      font-size: $font-size-2xl;
      font-weight: $font-weight-bold;
      line-height: 1.4;
      margin-bottom: $spacing-md;

      @include tablet {
        font-size: $font-size-xl;
      }

      @include mobile {
        font-size: $font-size-lg;
      }
    }
  }
}
 