@use '../../../styles/base/variables' as *;
@use "../../../styles/base/mixins" as *;
.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: $spacing-md $spacing-2xl;
  background-color: $color-primary;
  z-index: 100;
  @include mobile {
    padding: $spacing-md $spacing-xs;
  }

  .container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 $spacing-sm;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > * {
      display: flex;
      align-items: center;
    }
  }

 
  .logo {
    .logo-img {
      max-height: 100px;
      width: 100px;
      display: block;
    }
  }


  .nav {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      align-items: center;
      gap: $spacing-xl;
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        position: relative;
        span{
          color: $color-text-light;
          &:hover {
            color: $color-accent-purple;
          }
          .arrow {
            font-size: 1rem;
            opacity: 0.7;
            transition: transform 0.3s ease;
            margin-left: 4px;
            position: relative;
            top: -2px;
            
          }
        }

        a {
          display: flex;
          align-items: center;
          gap: 4px;
          font-size: $font-size-sm;
          color: $color-text-light;
          font-weight: $font-weight-medium;
          text-decoration: none;
          transition: color 0.2s ease;

          &:hover {
            color: $color-accent-purple;

            .arrow {
              color: $color-accent-purple;
            }
          }

        }

        &.has-submenu {
          cursor: pointer;
          

          .submenu {
            position: absolute;
            top: 100%;
            left: 0;

            background-color: $color-primary;
            padding: $spacing-sm 0;
            display: none;
            flex-direction: column;
            min-width: 180px;
            border-radius: $radius-sm;
            box-shadow: $shadow-soft;
            z-index: 99;

            li {
              padding: $spacing-xs $spacing-md;

              a {
                font-size: $font-size-sm;
                color: $color-text-light;

                &:hover {
                  color: $color-accent-purple;
                }
              }
            }

            &.open {
              display: flex;
            }
          }

          &:hover .submenu {
            display: flex;
          }

          &.open .arrow {
            transform: rotate(180deg);
          }
        }
      }
    }

    // MOBILE/TABLET MENU
    @media (max-width: $breakpoint-desktop) {
      position: fixed;
      top: 0;
      right: 0;
      width: 50%;
      height: 100vh;
      background-color: $color-primary;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
      padding: $spacing-3xl $spacing-lg;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &.open {
        transform: translateX(0);
      }

      .close-icon {
        align-self: flex-start;
        font-size: 2.2rem;
        color: $color-text-light;
        cursor: pointer;
        margin-bottom: $spacing-xl;
        line-height: 1;
      }

      ul {
        flex-direction: column;
        gap: $spacing-xl;
        width: 100%;

        li {
          width: 100%;

          a {
            width: 100%;
            font-size: $font-size-md;
            color: $color-text-light;

            &:hover {
              color: $color-accent-blue;
            }

            .arrow {
              font-size: 1.2rem;
            }
          }

          .submenu {
            position: relative;
            margin-top: $spacing-xs;
            background: none;
            box-shadow: none;
            display: none;

            &.open {
              display: flex;
              flex-direction: column;
              gap: $spacing-xs;
            }

            li a {
              font-size: $font-size-sm;
            }
          }
        }
      }
    }
  }




   

    .hamburger {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 22px;
      height: 18px;
      cursor: pointer;

      .bar {
        height: 2px;
        background-color: $color-white;
        border-radius: 1px;
      }

      @media (max-width: $breakpoint-tablet) {
        display: flex;
      }
    }
  }
